<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>로그인 하세요</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body class="d-flex flex-column min-vh-100">

<!-- User form -->
<section class="container px-4 px-lg-5 mt-5">
    <div class="text-center">
        <h1>로그인 해주세요!</h1>
    </div>
</section>

<script>
    function showLoginAlertAndRedirect() {
        alert("로그인 후 이용바랍니다.");
        window.location.href = "/user/signin";
    }

    showLoginAlertAndRedirect();
</script>

</body>
</html>
